// General page's colors

$primary: #ffa500;
$secondary: #305C66;
$black-gray: #424242;

// General page's alternative colors
$secondary-alt: #5f9ea0;

// General page's labels colors

$light-grey: #D9D9D9;