h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 4.8rem;
    text-align: center;
}

h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.9rem;
    text-align: center;
}