.card-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 9rem 6rem;
    width: 70%;
    margin: 0 auto;
    margin-top: 11.9rem;
    margin-bottom: 11.9rem;
}