.cardDisplay-container-overlay {
    width: 50vw;
    margin: 0 auto;
    margin-top: 11.9rem;
    background: linear-gradient (rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));

    &-inner {
        border: 0.3rem solid $primary ;
        background-color: $secondary;

        &-top {
            width: auto;
            border: 2px solid green;
            display: flex;


            &-img {
                width: 17.4rem;
                height: 22.5rem;
            }

            &-infos {
                margin-left: 3rem;

                &-more {
                    background-color: red;
                }
            }
        }

        &-bottom {
            border: 3px solid yellow;
        }

        &-bottom-close {
            border: 3px solid darkgoldenrod;
            font-size: 1.4rem;
            text-align: center;
            width: 5rem;
            height: 1.9rem;
            border-radius: 0.7rem;
            cursor: pointer;
            background-color: $light-grey;
            margin: 1rem auto;
        }

        &-bottom-close:hover {
            background-color: $secondary;
            color: white;
        }
    }
}