.cardDisplay-container-overlay {
    min-height: 100vh;
    width: 50vw;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    margin-top: 11.9rem;
    background: linear-gradient (rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));

    &-inner {
        border: 0.3rem solid $primary ;
        background-color: $secondary;

        &-top {
            width: auto;
            display: flex;


            &-img {
                width: 17.4rem;
                height: 22.5rem;
            }

            &-infos {
                margin-left: 3rem;

                &-more{
                    text-decoration: none;
                    font-weight: bolder;
                    color: $primary;
                }
                &-more:hover{
                    text-decoration: underline;
                    color: $primary;
                }
            }
        }

        &-bottom{
            padding: 2rem;
        }

        &-bottom-close {
            font-size: 1.4rem;
            text-align: center;
            width: 5rem;
            height: 1.9rem;
            border-radius: 0.7rem;
            cursor: pointer;
            background-color: $light-grey;
            margin: 1rem auto;
        }

        &-bottom-close:hover {
            background-color: $secondary;
            color: white;
        }
    }
}